{{ define "content" }}

{{template "page_container" dict 
  "Title" "Create account" 
  "Description" "Enter your details to get started"
  "Content" .PageContent
}}

{{ end }}

{{ define "page_content" }}
  <!-- Messages section -->
  {{ if .Messages }}
    <div class="mb-4 space-y-2">
      {{ range .Messages }}
        {{ if eq .Type "info" }}
          {{template "message_box" dict "Type" "info" "Text" .Text }}
        {{ else if eq .Type "error" }}
          {{template "message_box" dict "Type" "error" "Text" .Text }}
        {{ else if eq .Type "success" }}
          {{template "message_box" dict "Type" "success" "Text" .Text }}
        {{ end }}
      {{ end }}
    </div>
  {{ end }}

  {{template "card" dict "Content" .CardContent }}

  {{template "footer_link" dict 
    "Text" "Already have an account?"
    "Href" "/login"
    "LinkText" "Sign in"
  }}
{{ end }}

{{ define "card_content" }}
  <form method="{{ .Method }}" action="{{ .Action }}" class="space-y-4">
    <!-- Input Fields -->
    {{ range .Fields }}
      {{ if .Attributes.GetActualInstance }}
        {{ if not (or (eq .Attributes.GetActualInstance.Type "hidden") (eq .Attributes.GetActualInstance.Type "submit")) }}
          {{$placeholder := ""}}
          {{if eq .Attributes.GetActualInstance.Name "traits.email"}}
            {{$placeholder = "Email"}}
          {{else if eq .Attributes.GetActualInstance.Name "password"}}
            {{$placeholder = "Password"}}
          {{else if eq .Attributes.GetActualInstance.Name "traits.name.first"}}
            {{$placeholder = "First name"}}
          {{else if eq .Attributes.GetActualInstance.Name "traits.name.last"}}
            {{$placeholder = "Last name"}}
          {{end}}

          {{$label := .Attributes.GetActualInstance.Name}}
          {{if .Meta}}
            {{if .Meta.Label}}
              {{if .Meta.Label.Text}}
                {{$label = .Meta.Label.Text}}
              {{end}}
            {{end}}
          {{end}}

          {{$errorMessage := ""}}
          {{range .Messages}}
            {{if eq .Type "error"}}
              {{$errorMessage = .Text}}
            {{end}}
          {{end}}

          {{template "form_input" dict 
            "Name" .Attributes.GetActualInstance.Name
            "Type" .Attributes.GetActualInstance.Type
            "Value" .Attributes.GetActualInstance.Value
            "Pattern" .Attributes.GetActualInstance.Pattern
            "Required" .Attributes.GetActualInstance.Required
            "Disabled" .Attributes.GetActualInstance.Disabled
            "Label" $label
            "Placeholder" $placeholder
            "ErrorMessage" $errorMessage
          }}
        {{ else if eq .Attributes.GetActualInstance.Type "hidden" }}
          <input 
            type="hidden" 
            name="{{ .Attributes.GetActualInstance.Name }}" 
            value="{{ .Attributes.GetActualInstance.Value }}"
          >
        {{ end }}
      {{ end }}
    {{ end }}

    <!-- Submit Button -->
    {{ range .Fields }}
      {{ if .Attributes.GetActualInstance }}
        {{ if eq .Attributes.GetActualInstance.Type "submit" }}
          {{$label := "Sign up"}}
          {{if .Meta}}
            {{if .Meta.Label}}
              {{if .Meta.Label.Text}}
                {{$label = .Meta.Label.Text}}
              {{end}}
            {{end}}
          {{end}}
          
          {{template "form_button" dict 
            "Name" .Attributes.GetActualInstance.Name
            "Value" .Attributes.GetActualInstance.Value
            "Label" $label
          }}
        {{ end }}
      {{ end }}
    {{ end }}
  </form>
{{ end }}