{{ define "content" }}

{{template "page_container" dict 
  "Title" "Verify your Email" 
  "Description" "Please verify your email address to continue"
  "Content" .PageContent
}}

{{ end }}

{{ define "page_content" }}
  <!-- Messages section -->
  {{ if .Messages }}
    <div class="mb-4 space-y-2">
      {{ range .Messages }}
        {{ if eq .Type "info" }}
          {{template "message_box" dict "Type" "info" "Text" .Text }}
        {{ else if eq .Type "error" }}
          {{template "message_box" dict "Type" "error" "Text" .Text }}
        {{ else if eq .Type "success" }}
          {{template "message_box" dict "Type" "success" "Text" .Text }}
        {{ end }}
      {{ end }}
    </div>
  {{ end }}

  {{template "card" dict "Content" .CardContent }}

  {{template "footer_link" dict 
    "Text" "Return to"
    "Href" "/login"
    "LinkText" "Sign in"
  }}
{{ end }}

{{ define "card_content" }}
  <form method="{{ .Method }}" action="{{ .Action }}" class="space-y-4">
    <!-- Render Fields Dynamically -->
    {{ range .Fields }}
      {{ if eq .Type "input"}}
        {{ if .Attributes.GetActualInstance }}
          {{ if not (or (eq .Attributes.GetActualInstance.Type "hidden") (eq .Attributes.GetActualInstance.Type "submit")) }}
            {{$label := .Attributes.GetActualInstance.Name}}
            {{if .Meta}}
              {{if .Meta.Label}}
                {{if .Meta.Label.Text}}
                  {{$label = .Meta.Label.Text}}
                {{end}}
              {{end}}
            {{end}}

            {{$errorMessage := ""}}
            {{range .Messages}}
              {{if eq .Type "error"}}
                {{$errorMessage = .Text}}
              {{end}}
            {{end}}
            
            {{template "form_input" dict 
              "Name" .Attributes.GetActualInstance.Name
              "Type" .Attributes.GetActualInstance.Type
              "Value" .Attributes.GetActualInstance.Value
              "Pattern" .Attributes.GetActualInstance.Pattern
              "Required" .Attributes.GetActualInstance.Required
              "Disabled" .Attributes.GetActualInstance.Disabled
              "Label" $label
              "ErrorMessage" $errorMessage
            }}
          {{ else if eq .Attributes.GetActualInstance.Type "hidden" }}
            <input 
              type="hidden" 
              name="{{ .Attributes.GetActualInstance.Name }}" 
              value="{{ .Attributes.GetActualInstance.Value }}"
            >
          {{ else if eq .Attributes.GetActualInstance.Type "submit" }}
            {{$label := "Submit"}}
            {{if .Meta}}
              {{if .Meta.Label}}
                {{if .Meta.Label.Text}}
                  {{$label = .Meta.Label.Text}}
                {{end}}
              {{end}}
            {{end}}
            
            {{template "form_button" dict 
              "Name" .Attributes.GetActualInstance.Name
              "Value" .Attributes.GetActualInstance.Value
              "Label" $label
            }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{ if and (eq .Type "a") .Attributes }}
        <div class="text-center">
          {{$label := "Continue"}}
          {{if .Meta}}
            {{if .Meta.Label}}
              {{if .Meta.Label.Text}}
                {{$label = .Meta.Label.Text}}
              {{end}}
            {{end}}
          {{end}}
          
          {{template "form_button" dict 
            "Name" ""
            "Value" ""
            "Label" $label
          }}
        </div>
      {{ end }}
    {{ end }}
  </form>
{{ end }}